<% include ./partials/header %> 

<% result.forEach(function(result){ %>
	<br><br><br><br><br>
	<div class="ui card">
	  <div class="image">
	    <img src="<%= result.product_image %>" alt="">
	  </div>
	  <div class="content">
	    <a class="header"><%= result.product_name %></a>
	    <div class="meta">
	      <span class="date">Joined in 2013</span>
	    </div>
	    <div class="description">
	      Kristy is an art director living in New York.
	    </div>
	  </div>
	  <div class="extra content">
	    <button class="ui button">Buy Now</button>
	    <button class="ui button">View More</button>
	  </div>
	</div>

	<div class="ui five column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
</div>
<div class="ui grid container">
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
  <div class="four wide column">
  	<div class="ui fluid card">
      <div class="ui medium image">
        <img src="<%= result.product_image %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= result.product_name %></a>
      </div>
    </div>
  </div>
</div>
<% }) %>



<% include ./partials/footer %> 